<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


<bean id="dao" class="dao.impl.UserDaoImpl" />
<bean id="service" class="service.impl.UserServiceImpl" >
<property name= "dao" ref="dao" />
</bean>
<bean id="loggerBefore" class="aop.LoggerBefore" />
<bean id="loggerAfterReturning" class="aop.LoggerAfterReturning" />

<aop:config>
<!-- 定义切点处 -->
<!-- 参数所处的位置          entity.User包名与类名 -->
<aop:pointcut expression="execution(public void addNewUser(entity.User))" id="pointcut"/>
<!-- 在对应的切点处，增加增强操作 -->
<aop:advisor advice-ref="loggerBefore" pointcut-ref="pointcut"/>
<aop:advisor advice-ref="loggerAfterReturning" pointcut-ref="pointcut"/>
</aop:config>


</beans>










